*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px; /* Base size for rem calculations */
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/font1.woff2);
}

@font-face {
  font-family: font2;
  src: url(./assets/fonts/font2.woff2);
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: hsl(222, 19%, 18%);
  font-family: 'font1', sans-serif;
  color: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header.sticky {
  background-color: hsla(223, 20%, 18%, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(40px);
  z-index: 1000;
}

.wrapper {
  margin: 0;
}

.left,
.right {
  display: flex;
  gap: 3.125rem; /* 50px */
}

.center {
  display: flex;
  justify-content: center;
}

.left div,
.right div {
  padding: 0 0.625rem; /* 10px */
}

.right {
  display: flex;
  grid-auto-flow: column;
  justify-content: end;
}

.underline:hover {
  text-decoration: underline;
}

.orangebutton {
  background-color: hsl(20, 100%, 50%);
  color: hsl(0, 0%, 0%);
  /* margin: -0.9375rem 0; -15px */
  margin-top: -0.9375rem;
  margin-bottom: -0.9375rem;
  margin-right: 0;

  display: flex;
  /* justify-self: end; */
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orangebutton:hover {
  background-color: hsl(180, 100%, 90%);
}

.bg-gradient {
  background: linear-gradient(180deg, #141e2a 24.36%, #264a4a 100%);
}

.marquee {
  color: #fff;
  font-family: font2;
  font-size: 21rem;
  font-weight: bold;
}

.marquee-wrapper {
  padding-left: 2rem;
  margin-top: -2rem;
  padding-bottom: 2rem;
}

/* splide */

.splide {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide .splide__track ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: font2;
  font-size: 14rem;
  font-weight: bold;
  padding: 30px;
  padding-top: 70px;
}
.splide .splide__track ul li img {
  width: 4.4rem;
  height: 4.4rem;
}

.gradient-text,
.hero-second-text {
  color: #dcfe0b;
  font-family: font1;
  line-height: 1.7em;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-second-text {
  padding-bottom: 2rem;
}

.heading-sub-left {
  left: 0;
  align-self: flex-end;
}

#video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 18.75rem; /* 300px */
}

.blue-grid {
  background: linear-gradient(180deg, #274048 0%, #0c1619 104.06%);
}

.split-section {
  display: flex;
  width: 100%;
  height: 82.6vh; /* Full viewport height, adjust as needed */
}

.first-half, .second-half {
  height: 100%; /* Full height of the section */
}

.first-half {
  width: 43%;
  position: relative;
}

.second-half {
  width: 57%;
  color: #fff;
  box-sizing: border-box;
  background-color: hsl(193,39%,7%);
  font-family: font1;
}

.blue-grid {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #264a4a 24.36%, #141e2a 100%);
  color: #fff;
  box-sizing: border-box;
}

.blue-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
  ),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 1.406rem 1.406rem; /* 1.406vw, converted */
  z-index: 0; /* Ensure the grid is behind content */
}

.blue-grid h2, .blue-grid p {
  position: relative; /* Ensure text is above the background grid */
  z-index: 1;
  margin: 0;
}

.code-btn {
  text-align: center;
  background-color: hsl(195, 15%, 21%);
  color: #fff;
  font-family: font1;
  padding: 1.41rem;
  font-size: 1.1rem;
  position: relative;
  z-index: 2;

}

.second-half h2, .second-half p {
  margin: 0 0 1.25rem; /* 20px */
  background-color: hsl(193,39%,7%);
}

.green-text {
  color: #30FF89;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative; /* Ensure it’s positioned correctly */
  z-index: 2; /* Ensure it’s above .yellow-grid */
}

.grid-item {
  background-color: hsl(193,39%,7%);
  border-top: 1px solid #696969;
  padding: 2rem;
}

.grid-item h3 {
  white-space: pre-wrap;
  font-size: 1.47rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.spacer {
  padding: 35px;
}

.border-right {
  border-right: 1px solid #696969;
}

.grid-item p {
  padding-left: 1.25rem; /* 20px */
  font-family: font2;
  font-size: 0.9rem;
  padding-right: 15%;
  line-height: 1.6;
}



.yellow-grid {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #F1FFFF 0%, #F1FFFF 70%, #dcfe0b 100%);
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}

.yellow-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
      linear-gradient(
          to right,
          rgba(0, 0, 0, 0.1) 1px,
          transparent 1px
      ),
      linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.1) 1px,
          transparent 1px
      );
  background-size: calc(100% / 12) calc(100% / 7);
  z-index: 0;
}

.yellow-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.yellow-content h1 {
  margin: 0;
  font-size: 5rem;
  color: #000;
  font-family: font2;
}



.description,
.final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  white-space: nowrap;
}

.yellow-grid .panel {
background: linear-gradient(to right, #F1FFFF 0%, #F1FFFF 70%, #dcfe0b 100%);
}

.panel {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  font-size: 3rem;
  color: #000;
  font-family: font2;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #F1FFFF 0%, #F1FFFF 70%, #dcfe0b 100%);
}


.panel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
      linear-gradient(
          to right,
          rgba(0, 0, 0, 0.1) 1px,
          transparent 1px
      ),
      linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.1) 1px,
          transparent 1px
      );
  background-size: calc(100% / 12) calc(100% / 7);
  z-index: 0;
}


.panel:nth-child(2) {
  background-color: #dcfe0b;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 1px, transparent 1px);
  background-size: calc(100% / 12) calc(100% / 7);
}




.panel.attendes-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Match the grid layout */
  position: relative;
  grid-auto-rows: min-content;
}


.attendes {
  display: contents;
}

.attendes .list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 3 / span 12 ;
  grid-row: auto / span 1;
}


