*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 16px; /* Base size for rem calculations */
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/font1.woff2);
}

@font-face {
  font-family: font2;
  src: url(./assets/fonts/font2.woff2);
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: hsl(222, 19%, 18%);
  font-family: 'font1', sans-serif;
  color: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header.sticky {
  background-color: hsla(223, 20%, 18%, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(40px);
  z-index: 1000;
}

.wrapper {
  margin: 0;
}

.left,
.right {
  display: flex;
  gap: 3.125rem; /* 50px */
}

.center {
  display: flex;
  justify-content: center;
}

.left div,
.right div {
  padding: 0 0.625rem; /* 10px */
}

.right {
  display: flex;
  grid-auto-flow: column;
  justify-content: end;
}

.underline:hover {
  text-decoration: underline;
}

.orangebutton {
  background-color: hsl(20, 100%, 50%);
  color: hsl(0, 0%, 0%);
  /* margin: -0.9375rem 0; -15px */
  margin-top: -0.9375rem;
  margin-bottom: -0.9375rem;
  margin-right: 0;

  display: flex;
  /* justify-self: end; */
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orangebutton:hover {
  background-color: hsl(180, 100%, 90%);
}

.bg-gradient {
  background: linear-gradient(180deg, #141e2a 24.36%, #264a4a 100%);
}

.marquee {
  color: #fff;
  font-family: font2;
  font-size: 21rem;
  font-weight: bold;
}

.marquee-wrapper {
  padding-left: 2rem;
  margin-top: -2rem;
  padding-bottom: 2rem;
}

/* splide */

.splide {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide .splide__track ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: font2;
  font-size: 14rem;
  font-weight: bold;
  padding: 30px;
  padding-top: 70px;
}
.splide .splide__track ul li img {
  width: 4.4rem;
  height: 4.4rem;
}

.gradient-text,
.hero-second-text {
  color: #dcfe0b;
  font-family: font1;
  line-height: 1.7em;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-second-text {
  padding-bottom: 2rem;
}

.heading-sub-left {
  left: 0;
  align-self: flex-end;
}

#video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 18.75rem; /* 300px */
}

.blue-grid {
  background: linear-gradient(180deg, #274048 0%, #0c1619 104.06%);
}

.split-section {
  display: grid;
  grid-template-columns: 42% 58%;
  width: 100%;
  /* Full viewport height, adjust as needed */
}

.first-half,
.second-half {
}

.first-half {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-end; /* Align items to the bottom */
  height: 100%;
}

.second-half {
  color: #fff;
  box-sizing: border-box;
  background-color: hsl(193, 39%, 7%);
  font-family: font1;
}

.blue-grid {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #264a4a 24.36%, #141e2a 100%);
  color: #fff;
  box-sizing: border-box;
}

.blue-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 1.406rem 1.406rem; /* 1.406vw, converted */
  z-index: 0; /* Ensure the grid is behind content */
}

.blue-grid h2,
.blue-grid p {
  position: relative; /* Ensure text is above the background grid */
  z-index: 1;
  margin: 0;
}

.code-btn-block {
  align-self: center;
}

.code-btn {
  position: relative;
  display: block;
  justify-content: center;
  background-color: hsl(195, 15%, 21%);
  color: #fff;
  font-family: font1;
  padding: 1.41rem;
  font-size: 1.1rem;
  bottom: 0;
}

.second-half h2,
.second-half p {
  margin: 0 0 1.25rem; /* 20px */
  background-color: hsl(193, 39%, 7%);
}

.green-text {
  color: #30ff89;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: clamp(
    0.5px,
    /* Minimum value */ 1.667vw,
    /* Preferred value */ 169.983px /* Maximum value */
  );
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative; /* Ensure it’s positioned correctly */
  z-index: 2; /* Ensure it’s above .yellow-grid */
}

.grid-item {
  background-color: hsl(193, 39%, 7%);
  border-top: 1px solid #696969;
  padding: 2rem;
}

.grid-item h3 {
  white-space: pre-wrap;
  font-size: 1.47rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-top: 1rem;
  font-size: clamp(
    0.5px,
    /* Minimum value */ 1.667vw,
    /* Preferred value */ 169.983px /* Maximum value */
  );
}

.grid-item-p {
  font-size: max(
    11px,
    /* Ensures font size is at least 11px */
      clamp(
        0.5px,
        /* Minimum value */ 0.938vw,
        /* Preferred value based on viewport width */ 89.991px
          /* Maximum value */
      )
  );
}

.spacer {
  padding: 35px;
}

.border-right {
  border-right: 1px solid #696969;
}

.grid-item p {
  padding-left: 1.25rem; /* 20px */
  font-family: font2;
  font-size: 0.9rem;
  padding-right: 15%;
  line-height: 1.6;
}

.yellow-grid {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #f1ffff 0%, #f1ffff 70%, #dcfe0b 100%);
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}

.yellow-grid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: calc(100% / 12) calc(100% / 7);
  z-index: 0;
}

.yellow-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.yellow-content h1 {
  margin: 0;
  font-size: 5rem;
  color: #000;
  font-family: font2;
}

.description,
.final {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  white-space: nowrap;
}

.yellow-grid .panel {
  background: linear-gradient(to right, #f1ffff 0%, #f1ffff 70%, #dcfe0b 100%);
}

.panel {
  position: relative;

  box-sizing: border-box;
  font-size: clamp(
    0.5px,
    calc((6.771 * 1vw) - (17px * 0.06770999999999999)),
    calc(0.068 * 1140px)
  );
  color: #000;
  line-height: 0.9;
  font-family: font2;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f1ffff 0%, #f1ffff 70%, #dcfe0b 100%);
}

.panel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: calc(100% / 12) calc(100% / 7);
  z-index: 0;
}

.panel:nth-child(2) {
  background-color: #dcfe0b;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 1px, transparent 1px);
  background-size: calc(100% / 12) calc(100% / 10);
}

.grid-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
  grid-template-rows: repeat(7, 1fr); /* 7 rows, adjust height as needed */
}

.item {
  background-size: cover;
  background-position: center;
  width: 10%;
  height: 100%;
}

/* Positioning images using grid-area */
.image1 {
  grid-area: 2 / 3 / 2 / 13;
  background-image: url('https://static.wixstatic.com/media/0d6674_9923ea042af341be99718c43ccd69121~mv2.jpg/v1/fill/w_314,h_314,fp_0.53_0.45,q_80,usm_0.66_1.00_0.01,enc_auto/Yaniv%20EH.jpg');
}
.image2 {
  grid-area: 3 / 3 / 3 / 13;
  background-image: url('https://static.wixstatic.com/media/0d6674_18ba8f25292641d1ab3a8bfdc0e3750c~mv2.jpg/v1/fill/w_314,h_314,fp_0.44_0.47,q_80,usm_0.66_1.00_0.01,enc_auto/yoavFinal.jpg');
}
.image3 {
  grid-area: 4 / 3 / 4 / 13;
  background-image: url('https://static.wixstatic.com/media/0d6674_d4adcf3bca9a4b6d9b21b996aa2f0813~mv2.jpg/v1/fill/w_314,h_314,fp_0.43_0.45,q_80,usm_0.66_1.00_0.01,enc_auto/tuvitFinal.jpg');
}
.image4 {
  grid-area: 5 / 3 / 5 / 13;
  background-image: url('https://static.wixstatic.com/media/f5f203_e8f2b7b1acb8404d8616e606fd4e6909~mv2.jpg/v1/fill/w_238,h_238,fp_0.39_0.46,q_80,usm_0.66_1.00_0.01,enc_auto/varun.jpg');
}
.image5 {
  grid-area: 6 / 3 / 6 / 13;
  background-image: url('https://static.wixstatic.com/media/0d6674_14ff3fa6a6454156a7a1ec5891e72cfe~mv2.jpg/v1/fill/w_238,h_238,fp_0.48_0.54,q_80,usm_0.66_1.00_0.01,enc_auto/Anchit.jpg');
}

.attendes {
  /* grid-column: 4 / -1; Span all columns */
  /* grid-row: 2 / auto; Start from the 2nd row */
}

.list {
  grid-area: 2 / 4 / 1 / 13;
  margin-left: 2.3em;
  margin-top: 0.7rem;
}

.speaker-name {
  font-family: font2;
  font-size: 2.5rem;
}

.speaker-desig {
  font-family: font1;
  font-size: 1.5rem;
}

.container-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stack-left {
  background-image: linear-gradient(rgba(20, 30, 42, 1), rgba(68, 152, 132, 1));
  color: #dcfe0b;
  padding-top: 3rem;
}
.stack-left-margin {
  /* padding-left: 3rem; */
  margin-left: 2.96vw;
  svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.stack-left-text {
  font-family: font2;
  font-size: 6em;
  inset: 0;
  text-align: left; /* Align text to the left if needed */
  line-height: 0.9;
}

.stack-left svg {
  bottom: 0;
}

.site-dev {
  padding: 2rem;
  padding-top: 8em;
  background-image: linear-gradient(0deg, #f50 -3.97%, #e1ffff 102.61%);
}
.stack-app {
  background-color: #1f463f;
  padding: 2rem;
  padding-top: 8em;
  color: #fff;
}
.stack-agencies {
  padding: 2rem;
  padding-top: 9em;
  background-color: #cffffe;
}

.stack-right-num {
  font-family: font1;
  font-size: 1.5em;
  line-height: 1.6;
}
.stack-right-job {
  font-family: font2;
  font-size: clamp(0.5px, calc(3.333vw - 0.56661px), 37.62px);
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'what what schedule'
    'card-1 card-2 card-3';
  background-color: hsl(193, 39%, 7%);
  font-family: font2;
  line-height: 0.9;
}

.what {
  grid-area: what;
  font-size: 7em;
  padding: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  border-bottom: 1px solid #ffffff8b;
}

.schedule {
  grid-area: schedule;
  color: #000;
  font-family: font1;

  background-color: #dcfe0b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.5px, 1.7em, 6rem);
  line-height: 0.9;
}

.card-ctrl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6em;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left {
  color: #fff;
  justify-content: left;
  font-size: 1.5rem;
}

.left-top {
  justify-content: right;
}

.card-1 {
  grid-area: card-1;
  border-right: 1px solid #ffffff8b;
  border-bottom: 1px solid #ffffff8b;
  font-size: 2.8rem;
  color: #30ff89;
  padding: 1em;
}

.card-2 {
  grid-area: card-2;
  border-right: 1px solid #ffffff8b;
  border-bottom: 1px solid #ffffff8b;
  font-size: 2.8rem;
  color: #30ff89;
  padding: 1em;
}

.card-3 {
  grid-area: card-3;
  border-right: 1px solid #ffffff8b;
  border-bottom: 1px solid #ffffff8b;
  font-size: 2.8rem;
  color: #30ff89;
  padding: 1em;
}

.bluegradient {
  position: relative;
  height: 80vh;
  box-sizing: border-box;
  font-size: clamp(
    0.5px,
    calc((6.771 * 1vw) - (17px * 0.06770999999999999)),
    calc(0.068 * 1140px)
  );
  color: #000;
  line-height: 0.9;
  font-family: font2;
  width: 100vw;
  padding-top: 3em;
  padding-left: 1em;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, hsl(180, 100%, 88%) 0%, #f1ffff 70%);
}

.bluegradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: calc(100% / 12) calc(100% / 5);
  z-index: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typewritter {
  display: grid;
  font-family: font2;
  color: #24474d;
  font-size: 5rem;
  padding-right: 1.2em;
  line-height: 1;
  animation: typing 2s steps(21, end),
    blink-caret 0.5s step-end infinite alternate;
}

.typewritter-below {
  display: flex;
  font-family: font1;
  margin-top: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.learn {
  color: #ff5500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-you-there {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 'see date greengrid', 'access location register';
  font-family: font2;
}

.see {
  background-image: linear-gradient(180deg, #deff00 36.47%, #fff 119.63%),
    linear-gradient(180deg, #153216 0%, #30ff89 100%);
  padding: 10px;
  font-size: 11rem;
  overflow: hidden; /* Ensure the scrolling text does not overflow */
  position: relative;
}

.marquee-see {
  display: inline-block;
  white-space: nowrap;
  color: hsl(169, 39%, 20%);
  padding-left: 100%; /* Start the text off-screen */
  animation: marquee-see 30s linear infinite; /* Apply the marquee animation */
}

@keyframes marquee-see {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.date {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #deff00;
  background-color: hsl(169, 39%, 20%);
  font-family: font1;
  font-size: 1.5em;
  border: 1px solid #ffffff2f;
}

.greengrid {
  position: relative;
  height: 100%;
  background: hsl(169, 39%, 20%);
  color: #deff00;
  box-sizing: border-box;
}

.greengrid::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 1.406rem 1.406rem; /* 1.406vw, converted */
  z-index: 0; /* Ensure the grid is behind content */
}

.greengrid-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
}

.access {
  background-color: hsl(169, 39%, 20%);
  color: #deff00;
  display: grid;
  padding: 0;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  color: #deff00;
  background-color: hsl(169, 39%, 20%);
  font-family: font1;
  font-size: 1rem;
}

.access-height {
  line-height: 0.5;
}

.location {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #deff00;
  background-color: hsl(169, 39%, 20%);
  font-family: font1;
  font-size: 1.5em;
  border: 1px solid #ffffff2f;
}
.register {
  background-color: #ff5600;
  color: #000;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  font-family: font1;
  font-size: 1.5em;
}

.container-map {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "map fulladdress";
}
.map { grid-area: map; }

.fulladdress {
  grid-area: fulladdress;
  padding: 3em;
  span {
    display: block;
    font-family: font1;
    color: #fff;
    font-size: 13px;
  }
}

.container-video {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". video-top video-top"
    "video-left-text video video"
    ". video-bottom video-bottom";
  background-color: #0B1619;
}

.video-top { grid-area: video-top; border-left: #3B4547 solid 1px; }

.video { grid-area: video; }

.video-bottom { grid-area: video-bottom; border-left: #3B4547 solid 1px;}

.video-left-text {
  grid-area: video-left-text;
  border-top: #3B4547 solid 1px;
  border-bottom: #3B4547 solid 1px;
  color: #fff;
  font-family: font1;
  padding: 2em;
  font-size: 1.3rem;
  position: relative; /* To position .check absolutely */
}

.check {
  position: absolute;
  bottom: 1.5em;
  display: flex;
}

.span-orange {
  justify-content: flex-end;
  flex-wrap: wrap;
  color: rgb(255, 64, 0);
}