*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/font1.woff2);
}


@font-face {
  font-family: font2;
  src: url(./assets/fonts/font2.woff2);
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  /* padding: 15px 20px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: hsl(222, 19%, 18%);
  font-family: 'font1', sans-serif;
  color: hsl(0, 0%, 100%);
}

.wrapper {
  margin: 0;
}

.left,
.right {
  display: flex;
  gap: 50px;
}

.center {
  display: flex;
  justify-content: center;
}

.left div,
.right div {
  padding: 0 10px;
}

.right {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.underline:hover {
  text-decoration: underline;
}

.orangebutton {
  background-color: hsl(20, 100%, 50%);
  color: hsl(0, 0%, 0%);
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  justify-self: end;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orangebutton:hover {
  background-color: hsl(180, 100%, 90%);
}

.bg-gradient {
  background: linear-gradient(180deg, #141E2A 24.36%, #264A4A 100%);
}

.marquee {
  color: #fff;
  font-family: font2;
  font-size: 18rem;
  font-weight: bold;
  animation: scroll-left 15s linear infinite;
}

.marquee-wrapper {
  padding-left: 2em;
  margin-top: -2em;
  padding-bottom: 2em;
}


@keyframes scroll-left {
  0% {
      transform: translateX(0vw)
  }
  100% {
      transform: translateX(-50%)
  }
}

.gradient-text,
.hero-second-text {
  color: #DCFE0B;
  font-family: font1;
  line-height: 1.7em;

}

